*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.products-main-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 65vw;
    justify-content: center;
}

.products-card-container{
    position: relative;
    width: 80vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 1;
}
/*.products-card{
    position: relative;
    justify-content: space-between;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    height: 300px;
    margin: 10px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}*/
    
}
.products-card{
    justify-content: space-between;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;

}

.products-card h2{
    text-align: center;
}

.products-card img{
    max-width: 200px;
}